@import uk.gov.hmrc.testuser.models.TestAgent
@(agent: TestAgent)

<p>Use these credentials in the <a href="/api-documentation/docs/authorisation#user-restricted">
    OAuth Authorize flow</a> to generate an OAuth access token for this agent.</p>

<div class="form-field form-field--tall divider--bottom">
    <label class="label--full-length" id="username-label">
        <strong>Username</strong>
    </label>
    <p data-username>@agent.username</p>
</div>

<div class="form-field form-field--tall divider--bottom">
    <label class="label--full-length" id="password-label">
        <strong>Password</strong>
    </label>
    <p data-password>@agent.password</p>
</div>
