@import uk.gov.hmrc.testuser.models.TestIndividual
@(individual: TestIndividual)

<p>Use these credentials in the <a href="/api-documentation/docs/authorisation#user-restricted">
    OAuth Authorize flow</a> to generate an OAuth access token for this individual.</p>

<div class="form-field form-field--tall divider--bottom">
    <label class="label--full-length" id="userid-label">
        <strong>User ID</strong>
    </label>
    <p data-userid>@individual.userId</p>
</div>

<div class="form-field form-field--tall divider--bottom">
    <label class="label--full-length" id="password-label">
        <strong>Password</strong>
    </label>
    <p data-password>@individual.password</p>
</div>

<div class="form-field form-field--tall divider--bottom">
    <label class="label--full-length" id="sautr-label">
        <strong>Self Assessment UTR</strong>
    </label>
    <p data-sautr>@individual.saUtr</p>
</div>

<div class="form-field form-field--tall divider--bottom">
    <label class="label--full-length" id="nino-label">
        <strong>National Insurance Number (NINO)</strong>
    </label>
    <p data-nino>@individual.nino</p>
</div>
