@import uk.gov.hmrc.testuser.models.NavLink
@(navLinks: Seq[NavLink])(implicit request: Request[_], messages: Messages)

@contentHeader = {
    <h1>Create test user</h1>
}

@mainContent = {
    <p>
        This service lets you create test users for testing <a href="/api-documentation/docs/authorisation/user-restricted-endpoints#user-restricted">user-restricted endpoints</a>.
    </p>
    <p>
        You can create individuals or organisations with a default set of service enrolments.
    </p>
    <p>
        If you want to create a wider range of test users, or you're using automated testing,
        try the <a href="/api-documentation/docs/api/service/api-platform-test-user">Create Test User API</a>.
    </p>

    <div class="grid-layout push-half--sides grid-layout--stacked">
        <div class="grid-layout__column grid-layout__column--2-3">

        @helper.form(action = uk.gov.hmrc.testuser.controllers.routes.TestUserControllerImpl.createUser()) {

            @helper.CSRF.formField

            <div class="form-field-group">
                <fieldset>
                    <legend class="visuallyhidden">Choose a type</legend>
                    <label class="block-label" data-type="individual" aria-describedby="individualTypeHint" style="width: 100%;">
                        <input type="radio" class="top-aligned-input" name="type" id="Individual" value="INDIVIDUAL" checked/>
                        Create an individual tax account
                    </label>
                    <label class="block-label" data-type="organisation" aria-describedby="organisationTypeHint" style="width: 100%;">
                        <input type="radio" class="top-aligned-input" name="type" id="Organisation" value="ORGANISATION"/>
                        Create a company tax account
                    </label>
                </fieldset>
            </div>

            <button id="submit" class="button button--spaced button--padded" type="submit">Create</button>
        }
        </div>
        <div class="grid-layout__column grid-layout__column--1-3"></div>
    </div>
}

@govuk_wrapper(appConfig = uk.gov.hmrc.testuser.config.FrontendAppConfig, title = "Create test user", navLinks = navLinks,
    contentHeader = Some(contentHeader), mainContent = mainContent)
