.header__menu .header__menu__proposition-links {
    float: none;
}

.service-info {
    .header__menu__proposition-links {
        margin-top: -2.2em;

         .link-style {
            color: #005ea5;
            font-weight: normal;
            text-decoration: underline;
        }
    }
}

.beta-banner .phase-tag {
    background-color: #005ea5;
}

.header__menu__proposition--sub-header {
    display: none;
}


@media (min-width: 769px) {
  #global-header .header-proposition #proposition-links li {
    float: left;
    display: block;
    width: auto;
    padding: 0 15px 0 0;
    border-bottom: 0;
  }
  #global-header .header-proposition #proposition-links li.desktop-only {
    display: none;
  }
  #global-header .header-proposition #proposition-links li.clear-child {
    clear: left;
  }
}

@media (min-width: 801px) {
  .header__menu__proposition--sub-header {
      display: block;
  }
}